@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  /* background: mv.$black; */
  background-image: linear-gradient(to right, #151515, #131314, #111113, #0e0f12, #0a0c11, #0b0f19, #0b1220, #081528, #091b3a, #121f4c, #23225d, #39226b);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #F1F1F1;
}

button {
  outline: none;
  border: none;
}

.color__purple-claro {
  color: #A580FC;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #F1F1F1;
  margin-bottom: 70px;
  position: sticky;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.3); /* Fondo de color con opacidad */
  backdrop-filter: blur(10px); /* Intensidad del blur */
  z-index: 500;
  padding: 0 3em;
  top: 0;
}

.img_logo {
  height: 70px;
  width: 70px;
}

nav {
  height: 50px;
  width: 800px;
  overflow: hidden;
  transition: 0.4s;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-left: 0;
}

.btn_menu {
  font-size: 2em;
  display: none;
  cursor: pointer;
}

.height {
  height: 350px;
}

i {
  margin-right: 0.5em;
}

.fas {
  color: #A580FC;
}

/*******seccion sobre mi :S ********/
.section_SobreMi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  font-family: sans-serif;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.foto_SobreMi {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  object-fit: cover;
  outline: 1px solid #444;
}

.text_sobre_mi {
  width: 70%;
  color: #F1F1F1;
  line-height: 1.5;
}

.Title_SobreMi {
  color: #F1F1F1;
  text-align: center;
  font-size: 2.5em;
  width: 100%;
  font-weight: normal;
  font-weight: normal;
}

.padding {
  padding: 10px;
}

.mas_sobre_mi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.title_mas_SobreMi {
  color: #F1F1F1;
  text-align: center;
  font-size: 2.5em;
  width: 100%;
  font-weight: normal;
  text-align: start;
  margin-bottom: -1em;
  font-size: 1.7em;
}

.info_mas_sobreMi {
  width: 400px;
  color: #F1F1F1;
  line-height: 1.5;
}

/*******seccion de presentacion******/
.section_presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  color: #F1F1F1;
  margin-bottom: 100px;
  max-width: 1200px;
}

h1 {
  font-size: 6em;
  margin-bottom: -40px;
}

/* h2 {
  font-size: 5em;
  margin-bottom: mv.$margin_bottom;
} */
h2 {
  font-size: 2em;
  margin-bottom: 30px;
  /* color: mv.$crimson; */
  color: #A580FC;
  font-weight: normal;
}

.btn_sobremi {
  padding: 0.8em 1em;
  border-radius: 0.2em;
  margin-right: 1.5em;
}

.btn_download {
  padding: 1em 1em;
  border-radius: 0.2em;
}

.btn_presentacion {
  transition: 0.3s;
  outline: 1px solid #A580FC;
}

.btn_presentacion:hover {
  background-color: #2f2052;
}

.img_presentation {
  height: 500px;
  width: 550px;
  object-fit: cover;
}

img {
  height: 100%;
  width: 100%;
}

.contenedores {
  margin-top: 100px;
}

/********seccion de skills******/
.section_skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 100px;
  padding-top: 5em;
}

.conte_skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  color: #F1F1F1;
  gap: 1.5em;
}

.title_skills {
  color: #F1F1F1;
  text-align: center;
  font-size: 2.5em;
  width: 100%;
  font-weight: normal;
  margin-bottom: 2em;
}

.icon-skills {
  height: 130px;
  width: 130px;
  padding: 5px;
  text-align: center;
  outline: 1px solid rgba(170, 170, 170, 0.6666666667);
  display: grid;
  place-items: center;
  box-shadow: 0 0 5px #111;
  border-radius: 3px;
}

.icon-skill {
  height: 70px;
  width: 60px;
  height: 70px;
  width: 60px;
}

.sass {
  height: 90px;
  width: 80px;
}

.react {
  height: 85px;
  width: 80px;
}

/******proyectos******/
.section_proyectos {
  font-family: sans-serif;
  margin-bottom: 100px;
  padding: 5em 20px;
}

.grid {
  display: grid;
  /*  grid-template-columns: repeat(auto-fill,minmax(20rem,1fr)); */
  place-items: center;
  /*     gap: 2em; */
}

.title_proyectos {
  color: #F1F1F1;
  text-align: center;
  font-size: 2.5em;
  width: 100%;
  font-weight: normal;
}

.proyectos {
  height: auto;
  width: 70%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  border-radius: 10px;
  outline: 2px solid #242629;
  overflow: hidden;
  margin-bottom: 2em;
  padding: 0.5em;
}

.descripcion {
  color: #F1F1F1;
  /* background-color: mv.$light-bg; */
  transition: 0.5s;
  padding: 0 1em;
  height: auto;
}

.links_proyectos {
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.project__img {
  height: 250px; /* Altura fija */
  width: 100%; /* Cambia a auto si quieres ajustar el ancho proporcionalmente */
  object-fit: cover; /* Mantiene la imagen de fondo cubriendo el contenedor */
  border-radius: 5px;
  outline: 2px solid #161616;
  aspect-ratio: 16/9;
  object-position: top left;
}

.link_proyectos {
  width: 100%;
}

.link_proyectos p {
  margin-bottom: 2em;
}

.btn_demo {
  background-color: #161616;
  padding: 0.6em 1.7em;
  border-radius: 0.3em;
}

.btn {
  outline: 1px solid #222;
  transition: 0.2s;
}

.btn:hover {
  outline: 1px solid #2f2052;
}

.btn_github {
  background-color: #161616;
  padding: 0.6em 1.5em;
  border-radius: 0.3em;
}

.fab {
  margin-right: 7px;
}

.d-block {
  display: block;
}

.description_proyectos {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
  color: #A580FC;
}

.title_experimentos {
  color: #F1F1F1;
  text-align: center;
  font-size: 2.5em;
  width: 100%;
  font-weight: normal;
}

.experimentos {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.parent_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.box__experimentos {
  height: auto;
  width: 240px;
  padding: 0.5em;
  outline: 1px solid rgba(170, 170, 170, 0.6666666667);
  color: #F1F1F1;
  border-radius: 5px;
  display: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}

.box__experimentos img {
  object-fit: cover;
  height: 220px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 5px #000;
}

.link_experimentos {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  transition: 0.5s;
  cursor: pointer;
}

.button_links {
  outline: 1px solid #2f2052;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: #F1F1F1;
  width: 100%;
  font-size: 0.8em;
}

.button_links svg {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5em;
}

/*****section contacto******/
.section_contacto {
  margin-bottom: 70px;
  text-align: center;
}

.title_contacto {
  color: #F1F1F1;
  text-align: center;
  font-size: 2.5em;
  width: 100%;
  font-weight: normal;
}

.links_contacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  color: #F1F1F1;
  max-width: 1200px;
}

.icon_contacto {
  height: 50px;
  width: 50px;
}

/*****footer****/
.footer {
  text-align: center;
  font-family: sans-serif;
  color: #F1F1F1;
  padding: 10px;
}

.enlace {
  color: inherit;
}

.proloader {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proloader .carga {
  height: 200px;
  width: 200px;
  border-top: 1em solid #2f2052;
  border-left: 1em solid #2f2052;
  border-right: 1em solid #2f2052;
  border-bottom: 1em solid transparent;
  border-radius: 50%;
  animation: rotar_prolader 1s infinite linear;
}

@keyframes rotar_prolader {
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1024px) {
  .section_presentation {
    flex-direction: column-reverse;
  }
  ul {
    flex-direction: row;
  }
  .section_SobreMi {
    display: grid;
    place-items: center;
  }
  .proyectos {
    height: auto;
    width: 90%;
  }
}
@media (max-width: 820px) {
  h1 {
    font-size: 4em;
  }
  h2, h3, h4, h5, h6 {
    font-size: 1.7em;
  }
  .btn_menu {
    display: block;
  }
  nav {
    width: 100%;
    height: 0;
  }
  ul {
    justify-content: space-around;
    flex-direction: column;
    height: 350px;
  }
  .section_presentation {
    text-align: center;
  }
  .section_SobreMi {
    width: 100%;
    padding: 7px;
    text-align: center;
  }
  .proyectos {
    height: auto;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
@media (max-width: 650px) {
  .titles_presentation {
    width: 100%;
  }
  .img_presentation {
    width: 100%;
  }
  .img_presentation img {
    object-fit: cover;
  }
  .foto_SobreMi {
    margin: 0 auto;
  }
  .text_sobre_mi p {
    width: 100%;
  }
  .proyectos {
    height: auto;
    width: 100%;
  }
}
@media (max-width: 812px) {
  .btn_menu {
    display: block;
  }
  nav {
    width: 100%;
    height: 0;
  }
  ul {
    justify-content: space-around;
    flex-direction: column;
    height: 350px;
  }
  .section_presentation {
    text-align: center;
  }
  .section_SobreMi {
    width: 100%;
    padding: 7px;
  }
}
@media (max-width: 400px) {
  .conte_skills {
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
