@use "./mixins_variables" as mixins_variables;

.title_experimentos {
  @include mixins_variables.titles;
}

.experimentos {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.parent_box {
  @include mixins_variables.flex_box(flex, space-around, center, wrap);
}

.box__experimentos {
  @include mixins_variables.tamaños(auto, 240px);
  padding: 0.5em;
  outline: 2px solid mixins_variables.$color_black;
  color: mixins_variables.$color_white;
  border-radius: 5px;
  @include mixins_variables.flex_box(center, center, center, wrap);
  margin-bottom: 1.5em;
}

.box__experimentos img {
  object-fit: cover;
  @include mixins_variables.tamaños(220px, 100%);
  border-radius: 3px;
  box-shadow: 0 0 5px #000;
  margin-bottom: 1em;
}
.link_experimentos {
  @include mixins_variables.tamaños(auto, 100%);
  @include mixins_variables.flex_box(flex, center, flex-end, wrap);
  transition: 0.5s;
  cursor: pointer;
}
.button_links {
  outline: 1px solid mixins_variables.$color_purple;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: mixins_variables.$color_white;
  width: 90%;
  font-size: 0.8em;
}

.button_links svg {
  @include mixins_variables.tamaños(1rem, 1rem);
  margin-right: 0.5em;
}
