@use 'mixins_variables' as mv;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');


.header {
  @include mv.flex_box(flex, space-between, center, wrap);
  color: mv.$color_white;
  margin-bottom: mv.$botton;
  position: sticky;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.3); /* Fondo de color con opacidad */
  backdrop-filter: blur(10px); /* Intensidad del blur */
  z-index: 500;
  padding: 0 3em;
  top: 0
}
.img_logo {
  @include mv.tamaños(70px, 70px);
}

nav {
  @include mv.tamaños(50px, 800px);
  overflow: hidden;
  transition: 0.4s;
}

ul {
  @include mv.flex_box(flex, space-between, center, nowrap);
  @include mv.tamaños(100%, 100%);
  margin: 0;
  padding-left: 0;
}

.btn_menu {
  font-size: 2em;
  display: none;
  cursor: pointer;
  
}

.height {
  height: 350px;
}

i {
  margin-right: .5em;
}

.fas {
  color: mv.$crimson;
}

.crimson {
  color: mv.$crimson;
}


//?si no sale el icono es por que no tiene el link de los iconos :S XD 