$color_body:linear-gradient(to right, #151515, #131314, #111113, #0e0f12, #0a0c11, #0b0f19, #0b1220, #081528, #091b3a, #121f4c, #23225d, #39226b);
$color_white: #F1F1F1;
$margin_bottom: -5px;
$botton: 70px;
$botton2: 100px;
$font-size:2.5em;
$color_purple:#2f2052;
$color_purple_claro :#A580FC;
$color_black:#161616;

@mixin tamaños($height, $width) {
  height: $height;
  width: $width;

}
@mixin flex_box($flex, $justify_content, $align_items, $flex_wrap) {
  display: $flex;
  justify-content: $justify_content;
  align-items: $align_items;
  flex-wrap: $flex_wrap;
}
@mixin buttons() {
  outline: none;
  border: none;
  border-radius: 2.2em;
  padding: 10px;
  color: $color_white;
  margin-right: 20px;
  font-size: 1em;
  font-weight: normal;
}
@mixin titles {
  color: $color_white;
  text-align: center;
  font-size: 2.5em;
  @include tamaños(null, 100%);
  font-weight: normal;
}






