@use "mixins_variables" as mv;

/******proyectos******/
.section_proyectos {
  //@include mv.flex_box(flex, space-around, center, wrap);
  font-family: sans-serif;
  margin-bottom: mv.$botton2;
  padding: 5em 20px;
}
.grid {
  display: grid;
  /*  grid-template-columns: repeat(auto-fill,minmax(20rem,1fr)); */
  place-items: center;
  /*     gap: 2em; */
}
.title_proyectos {
  @include mv.titles();
}

.proyectos {
  @include mv.tamaños(auto, 70%);
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  border-radius: 10px;
  outline: 2px solid #242629;
  overflow: hidden;
  margin-bottom: 2em;
  padding: 0.5em;
}

.descripcion {
  color: mv.$color_white;
  /* background-color: mv.$light-bg; */
  transition: 0.5s;
  padding: 0 1em;
  height: auto;
}

.links_proyectos {
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.project__img {
  height: 250px; /* Altura fija */
  width: 100%; /* Cambia a auto si quieres ajustar el ancho proporcionalmente */
  object-fit: cover; /* Mantiene la imagen de fondo cubriendo el contenedor */
  border-radius: 5px;
  outline: 2px solid mv.$color_black;
  aspect-ratio: 16/9;
  object-position: top left;
}

.link_proyectos {
  width: 100%;
}
.link_proyectos p {
  margin-bottom: 2em;
}
.btn_demo {
  background-color: mv.$color_black;
  padding: 0.6em 1.7em;
  border-radius: 0.3em;
}
.btn {
  outline: 1px solid #222;
  transition: 0.2s;
}
.btn:hover {
  outline: 1px solid mv.$color_purple;
}
.btn_github {
  background-color: mv.$color_black;
  padding: 0.6em 1.5em;
  border-radius: 0.3em;
}
.fab {
  margin-right: 7px;
}
.d-block {
  display: block;
}
.description_proyectos {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
  color: mv.$color_purple_claro;
}
