@use "mixins_variables" as mv;

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  /* background: mv.$black; */
  background-image: mv.$color_body;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: mv.$color_white;
}
button {
  outline: none;
  border: none;
}
