/********seccion de skills******/
@use 'mixins_variables' as mv;
.section_skills {
  @include mv.flex_box(flex, space-between, center, wrap);
  font-family: sans-serif;
  font-weight: bold;
   margin-bottom: mv.$botton2; 
  padding-top: 5em;
}
.conte_skills {
  @include mv.flex_box(flex, space-between, center, wrap);
  @include mv.tamaños(auto, 90%);
  max-width: 1200px;
  margin: 0 auto;
  color: mv.$color_white;
  gap: 1.5em;
}
.title_skills {
  @include mv.titles();
  margin-bottom: 2em;
}
.icon-skills {
  height: 130px;
  width: 130px;
  padding: 5px;
  text-align: center;
  outline:2px solid mv.$color_black;
  display: grid;
  place-items: center;
  box-shadow:  0 0 5px #111;
  border-radius: 5px;
}
.icon-skill {
  height: 70px;
  width: 60px;
  @include mv.tamaños(70px, 60px);
}
.sass{
  @include mv.tamaños(90px, 80px);

}
.react{
  @include mv.tamaños(85px, 80px);
}