@use 'mixins_variables' as mv;
/*******seccion sobre mi :S ********/
.section_SobreMi {
    @include mv.flex_box(flex, space-between, center, wrap);
    @include mv.tamaños(null, 70%);
    font-family: sans-serif;
    margin-right: auto;
    margin-left: auto;
  }
  .foto_SobreMi {
    @include mv.tamaños(220px, 220px);
    border-radius: 50%; 
    object-fit: cover;
  }
  .text_sobre_mi {
    width: 70%;
    color: mv.$color_white;
    line-height: 1.5;
  }
  .Title_SobreMi {
    @include mv.titles();
    font-weight: normal
  }
  .padding {
    padding: 10px;
  }
  .mas_sobre_mi{
    @include mv.flex_box(flex, space-between, center, wrap);
    @include mv.tamaños(null, 100%);
  }
  .title_mas_SobreMi{
    @include mv.titles();
    text-align: start;
    margin-bottom: -1em;
    font-size: 1.7em;
    
  }
  .info_mas_sobreMi{
    @include mv.tamaños(null, 400px);
    color: mv.$color_white;
    line-height: 1.5;
  }